{% extends "index.html" %}

{% block title %}Modificar Nombres{% endblock %}

{% block content %}
<h2>Modificar Nombres</h2>
<form method="POST" action="{{ url_for('inventory.modify_name') }}">
    <input type="text" name="new_first_name" placeholder="Nuevo Nombre" required>
    <input type="text" name="new_last_name1" placeholder="Nuevo Primer Apellido" required>
    <input type="text" name="new_last_name2" placeholder="Nuevo Segundo Apellido" required>
    <button type="submit">Actualizar</button>
</form>
<a href="{{ url_for('inventory.modify_profile') }}">Regresar</a>
{% endblock %}