{% extends "index.html" %}

{% block title %}Modificar Contraseña{% endblock %}

{% block content %}
<h2>Modificar Contraseña</h2>
<form method="POST" action="{{ url_for('inventory.modify_password') }}">
    <input type="password" name="new_password" placeholder="Nueva Contraseña" required>
    <input type="password" name="confirm_new_password" placeholder="Confirmar Nueva Contraseña" required>
    <button type="submit">Actualizar</button>
</form>
<a href="{{ url_for('inventory.modify_profile') }}">Regresar</a>
{% endblock %}